{
    "extends": [
        "eslint:recommended", 
        "plugin:jest/recommended",
        "plugin:react/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint", 
        "jest",
        "react", 
        "react-hooks"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "no-unused-vars": "off",
        "react/jsx-uses-vars": "error",
        "semi": ["error", "never"],
        "quotes": [2, "double"],
        "indent": "off",
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-uses-react": "error",
        "react/react-in-jsx-scope": "off",
        "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 0}],
        "lines-between-class-members": ["error", "never"],
        "no-trailing-spaces": [1, { "skipBlankLines": false, "ignoreComments": true }],
        "curly": ["error"],
        "no-lone-blocks": "error",
        "no-multi-spaces": "error",
        "space-in-parens": ["error", "never"],
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "brace-style": "error",
        "comma-spacing": ["error", { "before": false, "after": true }],
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
        "no-whitespace-before-property": "error",
        "object-curly-spacing": ["error", "always"],
        "array-bracket-spacing": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "arrow-parens": ["error", "always"],
        "arrow-spacing": "error",
        "no-duplicate-imports": "error",
        "max-lines-per-function": ["error", {"max": 200, "skipBlankLines": false, "skipComments": true}],
        "space-infix-ops": ["error", { "int32Hint": false }],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}]
    },
    "env": {
        "browser": true,
        "node": true
    }  
}